<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.gavra013.gavra_android">

  <!-- 🗺️ GPS/Location permissions -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->  <!-- 📱 Other required permissions -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <!-- Required for Android 13+ runtime notification permission -->
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.SEND_SMS" />

  <!-- 📞 Phone/Call permissions -->
  <uses-permission android:name="android.permission.CALL_PHONE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />

  <!-- 🛰️ BACKGROUND GPS TRACKING PERMISSIONS -->
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <!-- 🔊 VOICE NAVIGATION PERMISSIONS -->
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

  <application android:label="Gavra 013" android:name="${applicationName}" android:icon="@mipmap/ic_launcher" android:largeHeap="true" android:enableOnBackInvokedCallback="true" android:requestLegacyExternalStorage="true">
    <!-- 🎮 MIUI Gaming optimizations -->
    <meta-data android:name="miui.game.mode" android:value="true" />
    <meta-data android:name="miui.performance.mode" android:value="high" />

    <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:taskAffinity="" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize" android:resizeableActivity="false">
      <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
      <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <!-- Deep link intent filter for Supabase email confirmation -->
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="gjtabtwudbrmfeyjiicu.supabase.co" />
      </intent-filter>

      <!-- Custom scheme for app -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="gavra" />
      </intent-filter>
    </activity>
    <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
    <meta-data android:name="flutterEmbedding" android:value="2" />

    <!-- 🛰️ BACKGROUND GPS SERVICE -->
    <service android:name="id.flutter.flutter_background_service.BackgroundService" android:exported="false" android:foregroundServiceType="location" tools:replace="android:exported" />

  </application>
  <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
  <queries>
    <intent>
      <action android:name="android.intent.action.PROCESS_TEXT"/>
      <data android:mimeType="text/plain"/>
    </intent>

    <!-- 🗺️ NAVIGATION APPS - Required for Android 11+ to query navigation intents -->
    <!-- Google Maps (explicit package for GBox compatibility) -->
    <package android:name="com.google.android.apps.maps"/>
    
    <!-- Google Maps intent -->
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="google.navigation"/>
    </intent>
    
    <!-- Waze -->
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="waze"/>
    </intent>
    
    <!-- Petal Maps (Huawei) -->
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="petalmaps"/>
    </intent>
    
    <!-- HERE WeGo -->
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="here-route"/>
    </intent>
    
    <!-- Yandex Maps -->
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="yandexmaps"/>
    </intent>
    
    <!-- Generic geo intent -->
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="geo"/>
    </intent>
    
    <!-- HTTP/HTTPS for browser fallback -->
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="https"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="http"/>
    </intent>

    <!-- 📞 Phone/SMS intents -->
    <intent>
      <action android:name="android.intent.action.DIAL"/>
      <data android:scheme="tel"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.SENDTO"/>
      <data android:scheme="smsto"/>
    </intent>
  </queries>
</manifest>
